<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Quản lý chuẩn đầu ra</h3>
        </div>
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Chương trình đào tạo <span class="text-red">*</span></label>
                    <div class="col-sm-4">
                        <select ng-model="outcome.program" class="form-control select2" style="width: 100%;" ng-change="reloadOutcomeTree()">
                            <option ng-repeat="item in programs">{{item}}</option>
                        </select>
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="fileLO">Tập tin <span class="text-red">*</span></label>
                    <div class="col-sm-4">
                        <input type="button" class="btn btn-default" value="Chọn tệp" ng-click="chooseFile()">
                        <button type="button" class="btn btn-primary">Xem trước</button>
                        <input type="file" class="btn" id="fileLO" name="upload[]" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="display: none;">
                        <p class="help-block">Tải lên tập tin dưới dạng *.xls, *xlsx</p>
                    </div>
                </div>
                <!-- /.form-group -->
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Nhập</button>
            </div>
        </form>
    </div>

    <div class="box box-primary">
        <div class="box-header with-border">
        <input type="text" class="form-control" ng-model="search" ng-change="searchOutcomeTree()">
        </div>
        <div class="box-body">
            <div id="container"></div>
        </div>
    </div>
</section>
<script>
    $(function() {
        $('.select2').select2();
    });
</script>