<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Manage Learning Outcomes</h3>
        </div>
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Training Programs <span class="text-red">*</span></label>
                    <div class="col-sm-4">
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">-- Training Programs --</option>
                            <option>Alaska</option>
                            <option>California</option>
                            <option>Delaware</option>
                            <option>Tennessee</option>
                            <option>Texas</option>
                            <option>Washington</option>
                        </select>
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="fileLO">File <span class="text-red">*</span></label>
                    <div class="col-sm-4">
                        <input type="button" class="btn btn-default" value="Browse" ng-click="chooseFile()">
                        <button type="button" class="btn btn-primary">Preview</button>
                        <input type="file" class="btn" id="fileLO" name="upload[]" accept="application/vnd.ms-excel" style="display: none;">
                        <p class="help-block">Only accept *.xls files</p>
                    </div>
                </div>
                <!-- /.form-group -->
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Import</button>
            </div>
        </form>
    </div>

    <div class="box box-primary">
        <div class="box-body">
            <div id="container"></div>
        </div>

    </div>
</section>
<script>
    $(function() {
        $('.select2').select2();
    });
</script>