<div class="row">
  <toaster-container></toaster-container>
  <widget class="col-lg-12">
    <form class="form-horizontal">
      <widget-header title="Chuẩn đầu ra" icon="fa-exchange"></widget-header>
      <widget-body>
        <div class="form-group">
          <label class="col-sm-3 control-label">Chương trình đào tạo <span class="text-red">*</span></label>
          <div class="col-sm-4">
            <ui-select ng-model="vm.program" theme="bootstrap" ng-change="vm.GetTreeView()">
              <ui-select-match placeholder="Chọn chương trình đào tạo...">{{$select.selected.faculty}} - Hệ {{$select.selected.type}}</ui-select-match>
              <ui-select-choices repeat="item in vm.programs | filter: $select.search">
                {{item.faculty}} - Hệ {{item.type}}
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Phiên bản</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Tên phiên bản..." ng-model="vm.version">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="fileLO">Tập tin <span class="text-red">*</span></label>
          <div class="col-sm-4">
            <input type="button" class="btn btn-default" value="Chọn tệp" ng-click="vm.ChooseFile()" ng-disabled="vm.program == null || vm.version == ''">
            <js-xls onread="read" onerror="error" style="display: none;" accept="application/vnd.ms-excel" id="jsExcelFile"></js-xls>
            <p class="help-block">Tải lên tập tin dưới dạng *.xls</p>
          </div>
        </div>
      </widget-body>
      <widget-footer>
        <button type="submit" class="btn btn-primary pull-right" ng-click="vm.Save()">Nhập</button>
      </widget-footer>
    </form>
  </widget>
</div>

<div class="row m-t-1" ng-if="vm.tree.length > 0">
  <widget class="col-lg-12">
    <widget-header title="Danh sách chuẩn đầu ra" icon="fa-exchange">
      <input class="form-control input-sm filter-bar" type="text" placeholder="Lọc" ng-model="vm.outcomeFilter" autofocus>
      <button type="button" class="btn btn-sm btn-primary" id="btnEdit" ng-click="vm.AddNode()">Thêm</button>
    </widget-header>
    <widget-body>
      <div ui-tree data-drag-enabled="vm.dragEnabled" data-max-depth="5">
        <ol ui-tree-nodes ng-model="vm.tree" id="tree-root">
          <li ng-repeat="node in vm.tree" ui-tree-node ng-include="'app/learningOutcome/outcomeNode.html'"></li>
        </ol>
      </div>
    </widget-body>
  </widget>
</div>