<section class="content">
  <section class="col-lg-12 connectedSortable">
    <toaster-container></toaster-container>
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Quản lý chuẩn đầu ra</h3>
      </div>
      <form class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">Chương trình đào tạo <span class="text-red">*</span></label>
            <div class="col-sm-4">
              <ui-select ng-model="vm.program" theme="bootstrap">
                <ui-select-match placeholder="Chọn chương trình đào tạo...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="item in vm.programs | filter: $select.search">
                  <div ng-bind-html="item | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <!-- /.form-group -->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="fileLO">Tập tin <span class="text-red">*</span></label>
            <div class="col-sm-4">
              <input type="button" class="btn btn-default" value="Chọn tệp" ng-click="chooseFile()">
              <button type="button" class="btn btn-primary">Xem trước</button>
              <input type="file" class="btn" id="fileLO" name="upload[]" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                style="display: none;">
              <p class="help-block">Tải lên tập tin dưới dạng *.xls, *xlsx</p>
            </div>
          </div>
          <!-- /.form-group -->
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-primary pull-right">Nhập</button>
        </div>
      </form>
    </div>
  </section>

  <section class="col-lg-7 connectedSortable">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Danh sách chuẩn đầu ra</h3>
        <button type="button" class="btn btn-warning pull-right" id="btnEdit">Sửa</button>
        <button type="button" class="btn btn-default pull-right" id="btnCollapse" ng-click="vm.collapse()">Thu gọn</button>
      </div>
      <div class="box-body">
        <div ui-tree="vm.treeOptions" data-drag-enabled="vm.dragEnabled">
          <ol ui-tree-nodes ng-model="vm.treeData" id="tree-root">
            <li ng-repeat="node in vm.treeData" ui-tree-node ng-include="'nodes_renderer.html'"></li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="col-lg-5 connectedSortable">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Thêm chuẩn đầu ra</h3>
      </div>
      <div class="box-body">
        <form class="form-horizontal" novalidate name="newNodeForm" role="form">
          <div class="form-group">
            <label for="addNode" class="col-sm-3 control-label">Chuẩn mới</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="addNode" ng-model="vm.newNode.text" name="addNode" placeholder="Chuẩn mới..."
                required>
            </div>
          </div>
          <div class="form-group">
            <label for="nodeParent" class="col-sm-3 control-label">Chuẩn đầu ra :</label>
            <div class="col-sm-9">
              <ui-select ng-model="vm.newNode.parent" theme="bootstrap" required>
                <ui-select-match placeholder="Chọn chuẩn đầu ra cấp trên...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="item in vm.treeData | filter: $select.search">
                  <div ng-bind-html="item.title | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </form>
      </div>
      <div class="box-footer">
        <button type="button" ng-disabled="newNodeForm.$invalid" ng-click="vm.addNewNode()" class="btn btn-success pull-right">Thêm chuẩn đầu ra</button>
      </div>
    </div>
  </section>
</section>

<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle>
    <a class="btn btn-success btn-xs btn-collapse" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="vm.toggle(this)">
      <span class="fa fa-angle-right" ng-class="{ 'fa-angle-right': collapsed, 'fa-angle-down': !collapsed }"></span>
    </a>
    {{node.title}}
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>