<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Thêm chương trình đào tạo</h3>
</div>
<div class="modal-body" id="modal-body">
  <form action="">
    <div class="form-group">
      <label for="programType">Hệ đào tạo</label>
      <input type="text" id="programType" class="form-control" ng-model="vm.program.type" uib-typeahead="faculty for faculty in vm.GetAllFaculty($viewValue)" typeahead-loading="loadingFaculty" typeahead-no-results="noFaculty" required>
      <i ng-show="loadingFaculty" class="fa fa-spinner"></i>
      <div ng-show="noFaculty">
        <i class="fa fa-times"></i> Không có kết quả
      </div>
    </div>
    <div class="form-group">
      <label for="programFaculty">Khoa đào tạo</label>
      <input type="text" id="programFaculty" class="form-control" ng-model="vm.program.faculty" uib-typeahead="type for type in vm.GetAllType($viewValue)" typeahead-loading="loadingType" typeahead-no-results="noType" required>
      <i ng-show="loadingType" class="fa fa-spinner"></i>
      <div ng-show="noType">
        <i class="fa fa-times"></i> Không có kết quả
      </div>
    </div>
    <div class="form-group">
      <label for="programDescription">Mô tả</label>
      <textarea id="programDescription" cols="30" rows="5" class="form-control" ng-model="vm.program.description"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" type="button" ng-click="vm.Cancel()">Huỷ</button>
  <button class="btn btn-primary" type="button" ng-click="vm.Ok()">Thêm</button>
</div>