<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar">
    <li class="sidebar-main">
      <a ng-click="vm.ToggleSidebar()">CDIO
        <span class="menu-icon fa fa-bars"></span>
      </a>
    </li>
    <li class="sidebar-title">
      <span>Menu</span>
    </li>
    <li class="sidebar-list">
      <a href="spec">Spec <span class="menu-icon fa fa-puzzle-piece"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="training">Chương trình đào tạo <span class="menu-icon fa fa-briefcase"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="outcome">Chuẩn đầu ra <span class="menu-icon fa fa-exchange"></span></a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <div class="col-xs-4">
      <a href="https://github.com/williamdang1710/cdio" target="_blank">Github</a>
    </div>
    <div class="col-xs-4">
      <a href="https://vn.linkedin.com/in/anhtuvo1810" target="_blank">About</a>
    </div>
    <div class="col-xs-4">
      <a href="#">Support</a>
    </div>
  </div>
</div>
<!-- End Sidebar -->