<div id="sidebar-wrapper" ng-controller="SidebarController as sidebarVm">
  <ul class="sidebar">
    <li class="sidebar-main">
      <a ng-click="shellVm.ToggleSidebar()">Dashboard
        <span class="menu-icon fa fa-bars"></span>
      </a>
    </li>
    <li class="sidebar-title">
      <span>QUẢN LÝ CHƯƠNG TRÌNH ĐÀO TẠO</span>
    </li>
    <li class="sidebar-list" ng-class="{selected: sidebarVm.selectedItem === 'spec'}">
      <a href="program">Chương trình đào tạo <span class="menu-icon fa fa-drivers-license-o"></span></a>
    </li>
    <li class="sidebar-title">
      <span>QUẢN LÝ CHUẨN ĐẦU RA</span>
    </li>
    <li class="sidebar-list" ng-class="{selected: sidebarVm.selectedItem === 'test'}">
      <a href="test">Test <span class="menu-icon fa fa-file-text"></span></a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <div class="col-xs-4">
      <a href="https://github.com/rdash/rdash-angular" target="_blank">Github</a>
    </div>
    <div class="col-xs-4">
      <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">About</a>
    </div>
    <div class="col-xs-4">
      <a href="#">Support</a>
    </div>
  </div>
</div>